
  mat-card {
  margin-top: 25px; 
  margin-bottom: 25px; 
  margin-right: 25px; 
  margin-left: 25px; 
  }
  .card {
      box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40%;
    }
    
    .card:hover {
      box-shadow: 0 20px 26px 0 rgba(0,0,0,0.2);
    }
   