<div fxLayoutAlign="center"  class="main-div ">
<div class="authorPage" fxLayout="row wrap" fxLayoutAlign="center stretch" >
  <mat-card *ngFor="let author of authorArray" style="width: 200px; height: 250px;" (click)="displayAuthorDetail(author.id)" class="card">
    <div align="center" style="margin-bottom: 10px;">
      <img src="{{author.imageUrl}}" style="width: 120px; height: 170px;" alt="{{author.name}}">
    </div>
     <div align="center" ><b>{{author.name}}</b></div>   
  </mat-card>
</div>
</div>
