
<div fxLayout="column" fxFlexOffset="auto" fxFlexFill>


<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span> PiStore Hakkında...</span> PiA Kış Kampı için yapılan bu proje, kitapseverleri internet ortamında daha aktif hâle getirmek için tasarlanmıştır.<br><br>
       </p>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>İçerenköy, E-5 Yanyolu, Umut Sok. AND Binası</span> Kozyatağı - Ataşehir/İstanbul</p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <h3> <img src="../../../assets/img/PIA_Original_RGB.png" class="pistore-img" alt="PiStore" > <img src="../../../assets/img/pi.png" alt="pi" style="width:10%; max-width:100px;"> </h3> 
      <p class="name"> Pia Winter Camp &copy; 2022</p>
    </div>
  </footer>
</div>