
<div fxLayoutAlign="center"   class="main-div">
    <mat-card fxFlex="80" class="card shadow">
    <div class="one">
        <img class="center"  src="{{ book?.imageUrl }}"  alt="{{ book?.name }}">
    </div>
    <div class="two overview">
        <span><h3>{{ book?.name }}</h3></span>
        <div>
            <span class="author-span" >Author: {{ book?.author }}
                <a class="author-link" (click)="displayAuthorDetail(book?.author)"> (Author's profile)
                </a> 
        </span>
        </div>
        <div>
            <span class="book-categories-span">Type: {{ book?.type }} <a class="book-categories-link" routerLink="#">
            </a></span>
        </div>
        <span><p class="book-overview">
            {{ book?.description }}

              </p>
            </span>
    </div>
    </mat-card>
    </div>
