
<div fxLayoutAlign="center"   class="main-div">
    <mat-card fxFlex="80" class="card shadow">
    <div class="one">
        <img class="center"  src="{{ author?.imageUrl }}"  alt="{{ author?.imageUrl }}">
    </div>
    <div class="two overview">
        <span><h3>{{ author?.name }}</h3></span>
        
        <div>
            <span class="book-categories-span">{{ author?.biography }} <a class="book-categories-link" routerLink="#">
            </a></span>
        </div>
        
    </div>
    </mat-card>
</div>
<div fxLayoutAlign="center"  class="main-div ">
    <div>
    <h4>Author's Books</h4> 
  <div class="books" fxLayout="row wrap" fxLayoutAlign="center center" >
  
    <mat-card *ngFor="let book of bookArray" style="width: 200px; height: 250px;"  (click)="displayBookDetail(book.id)" class="card">
      <div align="center" style="margin-bottom: 10px;">
        <img src="{{book.imageUrl}}" style="width: 120px; height: 170px;" alt="{{book.name}}">    
      </div>
       <div align="center" ><b>{{book.name}}</b></div>   
       <div align="center">{{book.type}}</div>
    </mat-card>
  </div>
