
  
  .one {
	width: 50%;
	height: 300px;
	/*background: red;*/
	float: left;
  }
  
  .two {
	margin-left: 50%;
	height: 300px;
	/*background: black;*/
  }
  .overview{
	  border-left: 6px solid #3c4043;
	  padding-left: 10px;
  }

  img{
	  max-width: 100%;
	  max-height: 100%;
  }
  img.center{
	  display: block;
	  margin: 0 auto;
  }

  .author-span{
letter-spacing: 0.2px;
word-spacing: -0.8px;
font-weight: normal;
text-decoration: none;
font-style: normal;
text-transform: none;
  }


  .statistics{
	  height: 50px;
	  width: auto;
	  padding-left: 35%;
	  display: block;
	  margin: 0 auto;
  }
  .card {
	box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
  }
  
  .card:hover {
	box-shadow: 0 20px 26px 0 rgba(0,0,0,0.2);
  }