
<div fxLayoutAlign="center"  class="main-div ">
  <div>
  <h3>Last Added 5 Books</h3> 
<div class="books" fxLayout="row wrap" fxLayoutAlign="center center" >

  <mat-card *ngFor="let book of bookArray" style="width: 200px; height: 250px;" (click)="displayBookDetail(book.id)" class="card">
    <div align="center" style="margin-bottom: 10px;">
      <img src="{{book.imageUrl}}" style="width: 120px; height: 170px;" alt="{{book.name}}">    
    </div>
     <div align="center" ><b>{{book.name}}</b></div>   
     <div align="center">{{book.type}}</div>
  </mat-card>
</div>

<h3> Last Added 5 Authors</h3>
<div class="author" fxLayout="row wrap" fxLayoutAlign="center center" >
 
  <mat-card *ngFor="let author of authorArray" style="width: 200px; height: 250px;" (click)="displayAuthorDetail(author.id)" class="card">
    <div align="center" style="margin-bottom: 10px;">
      <img src="{{author.imageUrl}}" style="width: 120px; height: 170px;" alt="{{author.name}}">
    
    </div>

     <div align="center" ><b>{{author.name}}</b></div>   
      
  </mat-card>
</div>
</div>
</div>