<div fxLayoutAlign="center"   class="main-div">
    <mat-card fxFlex="40" class="card shadow">
        <p>
            <mat-toolbar  color="primary">
              <span>Add Author</span>
            </mat-toolbar>
        </p>
        
        <form #authorForm="ngForm" fxLayoutAllign="stretch" fxLayout="column"  [formGroup]="addAuthorFormGroup"  class="add-author-form" method="post" (ngSubmit)="handleSubmit(authorForm.value)">
            
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Name Surname</mat-label>
                <input matInput placeholder="Name Surname"  formControlName="name"  required>
              </mat-form-field>

            
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Image Url</mat-label>
                <input matInput placeholder="Image Url" formControlName="imageUrl"  required>
              </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Biography</mat-label>
              <textarea matInput placeholder="Biography..." formControlName="biography" style="height: 100px;"  required></textarea>
            </mat-form-field>

            <div class="button-row" fxLayoutAlign="center">
                <button mat-raised-button color="primary" type="submit">Add Author</button>
              </div>
          </form>
        
    </mat-card> 
</div>