.example-container .mat-form-field + .mat-form-field {
  margin-left: 11px;
}

.example-container .mat-form-field {
  width:49%;
}

.mat-toolbar.mat-primary{
  background-color: #3c4043;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
  background-color: #3c4043;
}