<div fxLayoutAlign="center"  class="main-div ">
  <mat-card fxFlex="40" class="card shadow">
      <p>
          <mat-toolbar  color="primary">
            <span>Add Book</span>
          </mat-toolbar>
      </p>
      
      <form #bookForm="ngForm" fxLayoutAllign="stretch" fxLayout="column" [formGroup]="addBookFormGroup"  class="add-book-form" method="post" (ngSubmit)="handleSubmit(bookForm.value)">
        <mat-form-field class="formControl" appearance="fill" >
          <mat-label>Author</mat-label>
          <input type="text" required  placeholder="Pick one" aria-label="Number" matInput  [matAutocomplete]="auto"   formControlName="authorName">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let authorName of authorArray" [value]="authorName.name">
              {{authorName.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width " >
            <mat-label>Book Name</mat-label>
              <input matInput placeholder="Book Name" formControlName="name"  required>
            </mat-form-field>
          
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Type</mat-label>
            <input matInput placeholder="Type" formControlName="type"  required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>ISBN</mat-label>
            <input matInput placeholder="ISBN"  formControlName="isbn"  required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Image Url</mat-label>
            <input matInput placeholder="Image Url"   formControlName="imageUrl"  required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description..."  formControlName="description" style="height: 150px;"  required></textarea>
          </mat-form-field>

          <div class="button-row" fxLayoutAlign="center">
              <button mat-raised-button color="primary" type="submit">Add Book</button>
            </div>
        </form>
      
  </mat-card> 
</div>