<div fxLayoutAlign="center" class="main-div ">
<div class="booksPage" fxLayout="row wrap" fxLayoutAlign="center stretch" >
    <mat-card *ngFor="let book of bookArray" style="width: 200px; height: 250px;" (click)="displayBookDetail(book.id)" class="card">
      <div align="center" style="margin-bottom: 10px;">
        <img src="{{book.imageUrl}}" style="width: 120px; height: 170px;" alt="{{book.name}}">    
      </div>
       <div align="center" ><b>{{book.name}}</b></div>   
       <div align="center">{{book.type}}</div>
    </mat-card>
  </div>
</div>