/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~mdb-ui-kit/css/mdb.min.css';
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
}

html,
body,
#root {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: "Source Serif Pro", serif;
}
a {
	color: inherit;
	text-decoration: none;
}
