<p>
    <mat-toolbar >
      <a mat-flat-button  (click)="directHome()" style="margin-left: 5%;"> Pİ STORE</a>
      <div class="button-row" style="margin-left: 5%;">

      <button mat-button [matMenuTriggerFor]="books">Books</button>
      <mat-menu #books="matMenu">
        <button mat-menu-item (click)="directBook()">Add New Book</button>
        <button mat-menu-item (click)="directAllBook()">Display All Books</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="author">Authors</button>
      <mat-menu #author="matMenu">
        <button mat-menu-item (click)="directAddAuthor()">Add New Author</button>
        <button mat-menu-item (click)="directAllAuthor()">Display All Authors</button>
      </mat-menu>
      </div>
    </mat-toolbar> 
</p>